body {
    background-color: #f5f5f5;
}
.page {
    max-width: 1400px;
    margin: auto;
    padding: 20px;
}

p {
    font-size: 18px;
}

form {
    columns: 3;
    line-height: 95%;
    margin-left: 10px;
    margin-right: 600px;
}

ul {
    font-size: 20px;
    columns: 5;
}

h1 {
    font-size: 35px;
    color: #0066cc;
}

li {
    color: green;
}

h2 {
    color: #003366;
}

a {
    color: #0066cc;
}

a:hover {
    color: #ff6600;
}

button {
    background-color: #0066cc;
    color: white;
    border: none;
    padding: 8px 15px;
}
