* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	font-family: Arial, sans-serif;
	background-image: url('resources/Warzone.png');
        background-color: rgba(200, 200, 220, 0.9);
	background-repeat: repeat;
	color: #222;
}

.page {
    padding: 20px;
    border: 5px solid #000;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 42px;
    color: #0a3d62;
}

header p {
    font-size: 18px;
    color: #444;
}

nav {
    margin: 10px 0;
}

nav a {
    text-decoration: none;
    color: #0a3d62;
    font-weight: bold;
    margin: 0 8px;
}

nav a:hover {
    color: #e55039;
}

section {
    margin: 30px 0;
    color: #1e3799;
    border-bottom: 2px solid #ff3799;
    padding-bottom: 5px;
    
}

article {
    padding: 15px;
    margin-bottom: 15px;
    background-color: #fff2f6;
    border-left: 6px solid #1e3799;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
}

table th,
table td {
    border: 2px solid #333;
    padding: 10px;
    text-align: center;
}

table th {
    background-color: #1e3799;
    color: white;
}

form {
    background-color: #f8f9fa;
    padding: 20px;
    border: 3px solid #333;
    max-width: 600px;
    margin: auto;
}

img {
    width: 100%;
    position : relative;
    height: 300px;
    border-radius: 6px;
}

!div section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

!div section article {
    background-color: #f1f2f6;
    padding: 15px;
    border: 2px solid #333;
    border-radius: 6px;
}

